


<section class="portafolio">

    <div class="galeria">
        <h1 class="h1galeria">SERVICIOS</h1>
        <div class="linea"></div>
        <div class="contenedor_imagenes">

            <div class="imagen">
                    <img src="./imagenes/fotos/variadas/1.jpg" alt="">
                <div class="overlay">
                    <h2 class="h2overlay">MAQUETACION WEB: HTML + CSS</h2>
                </div>
            </div>

            <div class="imagen">
                <img src="./imagenes/fotos/variadas/2.jpg" alt="">
                <div class="overlay">
                    <h2 class="h2overlay"> Sistema de gestión de contenidos: WORDPRESS.</h2>
                </div>
            </div>
            

            <div class="imagen">
                <img src="./imagenes/fotos/variadas/3.jpg" alt="">
                <div class="overlay">
                    <h2 class="h2overlay">DISEÑO WEB: HTML + CSS + JAVASCRIPT</h2>
                </div>
            </div>

            <div class="imagen">
                <img src="./imagenes/fotos/variadas/4.jpg" alt="">
                <div class="overlay">
                    <h2 class="h2overlay">BASE DE DATOS MySQL + NODE JS</h2>
                </div>
            </div>

            <div class="imagen">
                <img src="./imagenes/fotos/variadas/5.jpg" alt="">
                <div class="overlay">
                    <h2 class="h2overlay">ANGULAR 9</h2>
                </div>
            </div>


            <div class="imagen">
                <img src="./imagenes/fotos/variadas/6.jpg" alt="">
                <div class="overlay">
                    <h2 class="h2overlay">REACT JS</h2>
                </div>
            </div>

            
            <div class="imagen">
                <img src="./imagenes/fotos/variadas/7.jpg" alt="">
                <div class="overlay">
                    <h2 class="h2overlay">DISEÑO WEB INSTITUCIONAL</h2>
                </div>
            </div>

            <div class="imagen">
                <img src="./imagenes/fotos/variadas/8.jpg" alt="">
                <div class="overlay">
                    <h2 class="h2overlay">DISEÑO WEB ECOMMERCE</h2>
                </div>
            </div>

            <div class="imagen">
                <img src="./imagenes/fotos/variadas/9.jpg" alt="">
                <div class="overlay">
                    <h2 class="h2overlay">DISEÑO WEB PROFESIONAL - LANDING PAGE</h2>
                </div>
            </div>

        </div>
    </div>

</section>



<!-- 



****************************************************************

****************************************************************

ACA ABAJO PEGUE EL PORTAFOLIO.HTML DEL TP.1 --- quedo ok ---

****************************************************************

****************************************************************




-->









<section class="servicios">
<div class="divservicios">
<div class="row">
    <h3 class="titulo">NUESTROS SEVICIOS CUENTAN CON:</h3>
</div>
</div>
<div class="row">
<div class="col-sm-4 caracteristica">
        <i class="bi bi-award"></i>
        <h4 class="primera_linea">Lorem Ipsum</h4>
        <p class="parrafo">Lorem ipsum dolor sit amet. Dolor sit amet, consectetur adipiscing elit. In dignissim odio ut sagittis elementum.</p>
</div>
<div class="col-sm-4 caracteristica">
        <i class="bi bi-box-arrow-in-up-right"></i>
        <h4 class="primera_linea">Aenean rhoncus augue</h4>
        <p class="parrafo">Lorem ipsum dolor sit amet. Curabitur nisi enim, placerat ac convallis id, posuere vehicula ligula.</p>
</div>
<div class="col-sm-4 caracteristica">
        <i class="bi bi-calendar-check"></i>
        <h4 class="primera_linea">Praesent</h4>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit.Nulla diam mi, pharetra eget mattis sed, mollis non ligula.</p>
</div>
<div class="col-sm-4 caracteristica">
        <i class="bi bi-check2-circle"></i>
        <h4 class="primera_linea">Lorem Ipsum</h4>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur.Dolor sit amet, consectetur adipiscing elit. In dignissim odio ut sagittis elementum.</p>
</div>
<div class="col-sm-4 caracteristica">
        <i class="bi bi-card-image"></i>
        <h4 class="primera_linea">Aenean rhoncus augue</h4>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.Curabitur nisi enim, placerat ac convallis id, posuere vehicula ligula.</p>
</div>
<div class="col-sm-4 caracteristica">
        <i class="bi bi-capslock"></i>
        <h4 class="primera_linea">Praesent</h4>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, iste Nulla diam mi, pharetra eget mattis sed, mollis non ligula.</p>
</div>
</div>

</section>



