<div class="divservicios">
  <div class="row">
    <h3 class="titulo">ALGUNOS DE NUESTROS PROYECTOS:</h3>
  </div>
</div>

<div class="fondo">
  <section class="tarjetas">
    <div class="servicioscontenedor">
      <div class="card">
        <img src="../../../assets/img/foto pagina acomus.png" alt="" />
        <h4>DISEÑO EN WORDPRESS</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quos
          ab nemo.
        </p>
        <a href="https://acomusmusicoterapia.com/" target="_blank">VER MAS</a>
      </div>

      <div class="card">
        <img src="../../../assets/img/cuentos libres.jpg" alt="" />
        <h4>DISEÑO EN WORDPRESS</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quos
          ab nemo.
        </p>
        <a href="https://cuentoslibres.com.ar" target="_blank">VER MAS</a>
      </div>

      <div class="card">
        <img src="../../../assets/img/pagina bem-web.jpg" alt="" />
        <h4>DISEÑO EN WORDPRESS</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quos
          ab nemo.
        </p>
        <a href="https://www.bem-web.com/" target="_blank">VER MAS</a>
      </div>

      <div class="card">
        <img src="../../../assets/img/foto pagina damt.png" alt="" />
        <h4>DISEÑO EN WORDPRESS</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quos
          ab nemo.
        </p>
        <a href="http://musicoterapiadelearg.com/" target="_blank">VER MAS</a>
      </div>

      <div class="card">
        <img src="../../../assets/img/C13.jpg" alt="" />
        <h4>DISEÑO EN HTML + CSS + JS</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quos
          ab nemo.
        </p>
        <a href="#">VER MAS</a>
      </div>

      <div class="card">
        <img src="../../../assets/img/C5.jpg" alt="" />
        <h4>DISEÑO EN HTML + CSS + JS</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quos
          ab nemo.
        </p>
        <a href="#">VER MAS</a>
      </div>
    </div>
  </section>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
