<section class="ae-container-fluid rk-main">
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a
        href="https://cuentoslibres.com.ar/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b1.png" alt="" />
        <div class="item-meta">
          <h2>TIENDA ON LINE - ECOMMERCE</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="https://acomusmusicoterapia.com/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b8.png" alt="" />
        <div class="item-meta">
          <h2>DISEÑO PARA AGENCIAS TURISTICAS</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="https://cuentoslibres.com.ar/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b3.png" alt="" />
        <div class="item-meta">
          <h2>DISEÑO HTML,CSS, JAVASCRIPT</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="https://www.bem-web.com/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b9.png" alt="" />
        <div class="item-meta">
          <h2>SISTEMAS ADMINISTRATIVOS</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="https://www.bem-web.com/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b5.png" alt="" />
        <div class="item-meta">
          <h2>DISEÑO HTML,CSS, JAVASCRIPT</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="http://tienda.bem-web.com/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b6.png" alt="" />
        <div class="item-meta">
          <h2>SISTEMAS ADMINISTRATIVOS</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="http://tienda.bem-web.com/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b6.png" alt="" />
        <div class="item-meta">
          <h2>SISTEMA DE TURNOS ONLINE</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="https://www.bem-web.com/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b9.png" alt="" />
        <div class="item-meta">
          <h2>SISTEMA DE TURNOS ONLINE</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="https://www.bem-web.com/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b10.png" alt="" />
        <div class="item-meta">
          <h2>DISEÑO WEB AUTOGESTIONABLE</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="https://cuentoslibres.com.ar/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b3.png" alt="" />
        <div class="item-meta">
          <h2>DISEÑO PARA RESTAURANTES</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="https://acomusmusicoterapia.com/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b2.png" alt="" />
        <div class="item-meta">
          <h2>DISEÑO PARA INMOBILIARIAS</h2>
          <p>ver más</p>
        </div>
      </a>

      <a
        href="https://www.bem-web.com/"
        target="_blank"
        class="rk-item ae-masonry__item"
        ><img src="assets/img/b7.png" alt="" />
        <div class="item-meta">
          <h2>DISEÑO PARA AGENCIAS TURISTICAS</h2>
          <p>ver más</p>
        </div>
      </a>
    </div>
  </section>
</section>

<app-miporfolio></app-miporfolio>
