.ae-container-fluid {
  color: black;
}

.rk-menu__link {
  color: black;
}

.bi-facebook {
  color: black;
}

.bi-instagram {
  color: black;
}

.rk-navigation {
  color: black;
}

.redes {
  color: black;
}
