



<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
        <svg>
            <use xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
        <svg>
            <use xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
        <svg>
            <use xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
    </label>
    
    <div class="ae-container-fluid rk-topbar">
        <h1 class="rk-logo">
            <a href="inicio.html">
                <img src="../../../assets/img/LOGO-NEGRO-SIN-FONDO-700x22.png" alt="" width="150px">
            </a>
            <a routerLink="home"><sup></sup></a>
        </h1>

        <nav class="rk-navigation">
            <ul class="rk-menu">
                <li class="active rk-menu__item">
                    <a routerLink="home" class="rk-menu__link">INICIO</a>
                </li>
                <li class="rk-menu__item">
                    <a routerLink="portafolio" class="rk-menu__link">PORTFOLIO</a>
                </li>
                <li class="rk-menu__item">
                    <a routerLink="about" class="rk-menu__link">ACERCA DE</a>
                </li>

<!--                 *********ACA PONGO MIS LINKS DE REDES ************* -->

                <div class="social">
                    <a class="redes" href="https://www.facebook.com/proyectosweb.bemweb.5" target="_blank">
                        <i class="bi bi-facebook"></i> Facebook      </a>
                        
                    <a class="redes" href="https://www.instagram.com/bem_web/" target="_blank">
                        <i class="bi bi-instagram"></i> Instagram</a>
                </div>

<!--                 *********ACA PONGO MIS LINKS DE REDES ************* -->


            </ul>
            <form class="rk-search">
                <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
                <label for="urku-search">
                    <svg>
                        <use xlink:href="assets/img/symbols.svg#icon-search"></use>
                    </svg>
                </label>
            </form>
        </nav>
    </div>








</header>
